.HomePage {
  background-color: #FDF292;
  width: 100vw;
  height: 100vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.Container {
  display: block;
  margin: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

.Title {
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 4vh;
  font-family: 'Concert One', cursive;
  margin-bottom:0;
  font-size: 8vh;
}

.Subtitle {
  text-align: center;
  padding-bottom: 10vh;
  font-family: 'Concert One', cursive;
  margin-bottom:0;
  font-size: 4vh;
}

.Gif {
  display: block;
  height: 30vh;
  max-height: 200px;
  margin: auto;
}

.ButtonContainer {
  display: block;
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 5vh;
  font-family: 'Concert One', cursive;
}
